html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Merienda', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color:black;
  background: linear-gradient(to left, #333, #333 50%, #eee 75%);
  /* min-width: 1170px; */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

}

.main-title {
  font-size: 36px;
  text-shadow: 1px 1px 2px black;
  margin: 0 auto;
  margin-bottom: 20px;
  color: yellow;
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
}

.main-header__logo-pic {
  width: 70px;
  height: 70px;
  object-fit: cover;
  filter: drop-shadow(6px 6px 2px);

  animation-name: jumping;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
}

@keyframes jumping {
  0% {
    transform: translateY(-90px);
  }
  45% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-header__menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  list-style: none;
  color: yellow;
}

.main-header__menu-list-item-link {
  position: relative;
  text-decoration: none;
}

.main-header__menu-list-item-link::after {
  position: absolute;
  content: '';
  bottom: -15px;
  left: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  background-color: yellow;
  transition: all 0.3s;
}

.main-header__menu-list-item-link:hover::after {
  transform: translateY(-10px);
  opacity: 1;
}

/* .promo {
  width: 100%;
  height: 100vh;
  background: url(../rsschool-cv/img/promo-bg.jpg) no-repeat center;
  background-size: cover;
} */

.promo {
  margin-top: 118px;
  margin-bottom: 30px;
  /* height: 500px; */
  /* min-height: 100vh; */
}

.promo__wrapper {
  display: flex;
  column-gap: 20px;
  padding: 0 20px;
}

.promo__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 40%;
  /* padding: 20px 0 0 20px; */

}

.promo__title {
  font-size: 40px;
  color: black;
  text-shadow: 1px 1px 2px black;
}

.promo__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 60%;
}

.promo__img-wrap {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px;
}

.promo__img-pic {
  display: block;
  /* width: 100%;
  height: 100%; */
  /* margin: auto; */
  object-fit: cover;
  transition: transform 0.3s;
}

.promo__img-pic:hover,
.promo__img-pic:active,
.promo__img-pic:focus {
  transform: scale(1.2);
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.about__info-link {
  text-decoration: underline;
}


.skills__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.skills__soft {
  margin-bottom: 10px;
}

.skills__title {
  font-size: 26px;
  text-decoration: underline;
}

.skills__list {
  padding-left: 24px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contacs__list {
  padding-left: 24px;
}

.main-footer__wrapper {
  padding: 30px;
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
}

.main-footer__list-item-link {
  display: block;
  
} 

.main-footer__list-item-link:last-child {
  height: 40px;
}

.main-footer__list-item-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}