html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  /* line-height: 38px; */
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  font-family: "Forum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
}

.main-title_white {
  color: #FFFFFF;;
}

.main-title_gold {
  color: #9D8665;
}


/* Header styles start */

.main-header {
  position: fixed;
  top: 74px;
  left: 0;
  width: 100%;
  /* padding-bottom: 20px; */
  z-index: 999;
  /* background: #030303; */
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}

.logo__pic {
  margin-right: 20px;
}

.logo__title {
  font-family: "Forum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 76px;
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

/* Header styles end */



/* Welcome styles start */
.welcome {
  /* height: 800px; */
  background-color: #030303;
  background-image: url(../img/welcome-bg.jpg);
  /* background-size: 1215px 750px; */
  
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 100vh;
  padding-top: 314px;
}

/* .welcome__wrapper {
  position: relative;
} */

.welcome__intro {
  display: flex;
  flex-wrap: wrap;
  max-width: 598px;
}

.welcome__text {
  margin-top: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.welcome__button {
  display: block;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 76px;
  padding: 24.5px 66px;
  background: #710707;
  border-radius: 10px;
}

/* Welcome styles end */



/* Visiting styles start */
.visiting {
  padding: 75px 0;
}

.visiting__cards {
  margin-top: 103px;
}

.visiting__wrapper > .main-title::after {
  position: absolute;
  content: '';
  top: 115px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #710707;
}

.visiting__cards {
  margin-top: 103px;
}


/* Visiting styles end */
